@page
@model webApi.Pages.Grants.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}
<div class="card container" id="containerLayout" style="padding: 20px">
    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <partial name="ANav" />
            <div class="col-md-9 center">
                <div class="row justify-content-center">
                    <h1 class="heading">Create News</h1>
                    <div class="col-md-9">
                        <form method="post" asp-controller="UploadFiles" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Grant.Title" class="control-label"></label>
                                <input asp-for="Grant.Title" class="form-control" />
                                <span asp-validation-for="Grant.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Text</label>
                                <textarea textarea asp-for="Grant.text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Chosse optional picture for news</label>
                                <input class="form-control-file" type="file" name="files" multiple />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                            <a class="btn btn-secondary" asp-page="Index">Back to List</a>

                        </form>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>
</div>
              
