@page
@model webApi.Pages.Grants.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}
<div class="card container" id="containerLayout" style="padding: 20px">
    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <partial name="ANav" />
            <div class="col-md-9">
                <div class="row justify-content-center">

                    <div>
                        <h1 class="text-center" style="margin-top:20px; margin-bottom: 20px;">Details</h1>
                        @if (Model.Grant.Image == "")
                        {

                        }
                        else
                        {
                            <img src="~/images/grants/@Model.Grant.Image" style="padding:20px">
                        }
                    </div>
                </div>
                <div style="padding: 20px;">
                    <div class="card-body">
                        <p>Title</p>
                        <h5 class="card-title">@Model.Grant.Title</h5>
                        <p>Text</p>
                        <p class="card-text">@Model.Grant.text</p>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Grant.Id">Edit</a>
                        <a class="btn btn-primary" asp-page="./Delete" asp-route-id="@Model.Grant.Id">Delete</a>
                        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
