@page
@model webApi.Pages.Votes.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Vote</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vote.Id" />
            <div class="form-group">
                <label asp-for="Vote.Title" class="control-label"></label>
                <input asp-for="Vote.Title" class="form-control" />
                <span asp-validation-for="Vote.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vote.text" class="control-label"></label>
                <input asp-for="Vote.text" class="form-control" />
                <span asp-validation-for="Vote.text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vote.Image" class="control-label"></label>
                <input asp-for="Vote.Image" class="form-control" />
                <span asp-validation-for="Vote.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vote.date" class="control-label"></label>
                <input asp-for="Vote.date" class="form-control" />
                <span asp-validation-for="Vote.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
