@page
@model webApi.Pages.Grants.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}

<div class="cont">
    <div class="container">
        <div>
            <h1>Create News</h1>
        </div>
    </div>
</div>

<div class="cart container">
    <div class="row">
        <div class="col-md-12">
            <form method="post" asp-controller="UploadFiles" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Grant.Title" class="control-label"></label>
                    <input asp-for="Grant.Title" class="form-control" />
                    <span asp-validation-for="Grant.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Grant.text" class="control-label"></label>
                    <input asp-for="Grant.text" class="form-control" />
                    <span asp-validation-for="Grant.text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="file" name="files" multiple />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

</div>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
