@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<head>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<div class="row" id="loginContainer">
    <div class="col-md-4">
    <h2>@ViewData["Title"]</h2>
        <p>Please check your email for reseting your password</p>
    </div>
</div>

