#loginContainer
{
    display:flex;
    justify-content:center;
    padding-bottom: 2%;
}
.col-sm{
    display:flex;
    justify-content:center;
}
.login_header{
    display:flex;
    justify-content:center;
    padding-top:2%;
}
