@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<html>
<body>
    <h2>@ViewData["Title"]</h2>
    <h3>@Model.Message</h3>
    <h1>@Model.tester</h1>


    <div class="fb-page" data-href="https://www.facebook.com/European-Association-for-Behaviour-Analysis-144073318974784/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/European-Association-for-Behaviour-Analysis-144073318974784/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/European-Association-for-Behaviour-Analysis-144073318974784/">European Association for Behaviour Analysis</a>
        </blockquote>
    </div>

</body>
</html>










