@page
@model webApi.Pages.FAQModel

@{
    ViewData["Title"] = "FAQ";
}


<div class="container">
   
    <h1 class="heading"> Frequently Asked Questions</h1>
        
        @foreach (var item in Model.FAQS)
        {
            
                <div class="card mb-3" style="width: 100%">
                    <div class="card-body">
                        <p>Question</p>
                        <h3>@item.questions</h3>
                        <p>Answer</p>
                        <p>@item.answers</p>
                    </div>
                </div>
            
        }
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
