@page
@model webApi.Pages.Boardmember.CreateModel

@{
    ViewData["Title"] = "Create";
}
<div class="card container" id="containerLayout" style="padding: 20px">
    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <partial name="ANav" />
            <div class="col-md-9 center">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div>
                            <h2 class="heading">Create Boardmember</h2>
                        </div>

                        <form method="post" asp-controller="UploadFiles" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="BoardMember.Name" class="control-label"></label>
                                <input asp-for="BoardMember.Name" class="form-control" />
                                <span asp-validation-for="BoardMember.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BoardMember.BoardRole" class="control-label"></label>
                                <input asp-for="BoardMember.BoardRole" class="form-control" />
                                <span asp-validation-for="BoardMember.BoardRole" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Text</label>
                                <textarea textarea asp-for="BoardMember.text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Chosse picture for boardmember</label>
                                <input class="form-control-file" type="file" name="files" multiple />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                            <a class="btn btn-secondary" asp-page="Index">Back to List</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                   