@page
@model webApi.Pages.Boardmember.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="card container" id="containerLayout" style="padding: 20px">
    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <partial name="ANav" />
            <div class="col-md-9">
                <div class="row justify-content-center">

                    <div>
                        <h1 class="text-center" style="margin-top:20px; margin-bottom: 20px;">Edit Board</h1>
                        @if (Model.BoardMember.Image == "")
                        {

                        }
                        else
                        {
                            <img src="~/images/boardmembers/@Model.BoardMember.Image" style="padding:20px">
                        }
                    </div>
                </div>

                <div style="padding: 20px;">
                    <div class="card-body">
                    <form method="post" asp-controller="UploadFiles" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="BoardMember.Id" />
                        <div class="form-group">
                            <label asp-for="BoardMember.Name" class="control-label"></label>
                            <input asp-for="BoardMember.Name" class="form-control" />
                            <span asp-validation-for="BoardMember.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BoardMember.BoardRole" class="control-label"></label>
                            <input asp-for="BoardMember.BoardRole" class="form-control" />
                            <span asp-validation-for="BoardMember.BoardRole" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Text</label>
                            <textarea textarea asp-for="BoardMember.text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="file" name="files" value="BoardMember.Image" multiple />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>