@page
@model webApi.Areas.Identity.Pages.Account.Admin.admin_edit_pdfModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}
<div class="container" id="containerLayout">

    <h2>Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">                   
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/ChangePassword">Password</a>
                    <a class="list-group-item list-group-item-action"href="/Identity/Account/Admin/ManageUsers">Manage Users</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Events/Index">Edit Events</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/News/Index">Edit News</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Boardmember/Index">Edit Boardmembers</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Votes/Index">Elections</a>
                    <a class="list-group-item list-group-item-action active" href="/Identity/Account/Admin/admin_edit_pdf">Elections</a>
                </div>
            </div>
            <div class="col-md-9">

                <h2>Edit pdf files</h2>
                <p>This is the upload for the <b>EABA by-laws</b>, once uploaded this will replace the previous file. <br> <b>This process is irreversible</b></p>
                 <form method="post" asp-controller="UploadByLaws" enctype="multipart/form-data">
                 <div class="form-group">
                    <input type="file" name="files-law" multiple />
                </div>

                 <p>This is the upload for the <b>Organization Information</b>, once uploaded this will replace the previous file. <br> <b>This process is irreversible</b></p>
                 <div class="form-group">
                    <input type="file" name="files-info" multiple />
                </div>
            <button type="submit" class="btn btn-default">Upload Files</button>
                </form>
                
            </div>
        </div>
    </div>
</div>

