@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="col-md-3">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Index">Profile</a>
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/ChangePassword">Password</a>
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/ManageUsers">Manage Users</a>
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Events/Index">Edit Events</a>
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/News/Index">Edit News</a>
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Boardmember/Index">Edit Boardmembers</a>
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Votes/Index">Elections</a>
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/admin_edit_pdf">Edit pdf files</a>
        <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/FAQS">FAQS</a>
    </div>
</div>