@page
@model webApi.Areas.Identity.Pages.Account.Admin.ChangePasswordAdminModel
@{
    ViewData["Title"] = "Change password";
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}

<div class="container card" id="containerLayout" style="padding:20px;">

    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Index">Profile</a>
                    <a class="list-group-item list-group-item-action active" href="/Identity/Account/Admin/ChangePassword">Password</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/ManageUsers">Manage Users</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Events/Index">Edit Events</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/News/Index">Edit News</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Boardmember/Index">Edit Boardmembers</a>
                    <!--<a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Votes/Index">Elections</a>-->
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/admin_edit_pdf">Edit pdf files</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/FAQS">FAQS</a>
                </div>
            </div>
            <div class="col-md-9 center">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div>
                            <h2>Change your password</h2>
                        </div>
                        <form id="change-password-form" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.OldPassword"></label>
                                <input asp-for="Input.OldPassword" class="form-control" />
                                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.NewPassword"></label>
                                <input asp-for="Input.NewPassword" class="form-control" />
                                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Update password</button>
                        </form>
                        @Model.StatusMessage
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

