@page
@model webApi.Areas.Identity.Pages.Account.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
    // Til að nota eigið _Layout þarf að gefa því absolute path í Index.
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}
<div class="container" id="containerLayout">
    <h2>Manage your Admin account</h2>
    <div>
        <h4>Change your Admin settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/ChangePassword">Password</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/ManageUsers">Manage Users</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Events/Index">Edit Events</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/News/Index">Edit News</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Boardmember/Index">Edit Boardmembers</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Votes/Index">Elections</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/Votes/Index">Edit pdf</a>
                    <a class="list-group-item list-group-item-action" href="/Identity/Account/Admin/admin_edit_pdf">Edit pdf files</a>
                </div>
            </div>
        </div>
    </div>
</div>
