@page
@model webApi.Areas.Identity.Pages.Account.Admin.ManageUsersModel
@{
    ViewData["Title"] = "Index";
    // Til að nota eigið _Layout þarf að gefa því absolute path í Index.
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}
<div class="card" id="containerLayout" style="padding: 20px">
    <h2 class="heading">Manage your Admin account</h2>
    <div>
        <hr />
        <div class="row">
            <partial name="ANav" />
            <div class="col-md-9 center">
                <div class="row justify-content-center">

                    <h2 class="heading">User Management</h2>


                </div>
            </div>
        </div>
    </div>
</div>

