@page
@model webApi.Areas.Identity.Pages.Account.Admin.ManageUsersModel
@{
    ViewData["Title"] = "Index";
    // ég er svo fokking gáfaður.
    // Til að nota eigið _Layout þarf að gefa því absolute path í Index.
    Layout = "~/Areas/Identity/Pages/Account/Admin/_Layout.cshtml";
}

<h2>Manage users</h2>
<table>
    <tr>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>City</th>
        <th>Phone number</th>
        <th>email</th>
        <th>email Confirmed</th>
        <th>registered</th>
        <th>affiliation</th>
        <th>Payment confirmed</th>
    </tr>
    
</table>

